body {
  background-color: #303133;
  margin: 0;
  font-family: system-ui;
  color: #a7a6a6;
}
h2{
  /* color: #474545; */
}

.wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.user {
  background-image: linear-gradient(to bottom, #a51111 0%, #ff0000 130px,rgba(0,0,0,.15) 130px, rgba(0,0,0,.15) 141px, rgb(255, 255, 255) 131px, rgb(197, 197, 197) 100%);

  /* background-image: linear-gradient(to bottom, #030303 0%, #131111 130px,rgb(231, 199, 15) 130px, rgb(235, 194, 12) 141px, rgb(20, 20, 20) 131px, rgb(19, 18, 18) 100%); */
  text-align: center;
  overflow: hidden;
  padding: 20px;
  font-family: system-ui;
  border-radius: 2rem;
  box-shadow: 0 0 1px rgba(0,0,0,.5);
  cursor: pointer;
  user-select: none;
}

.user img {
  max-width: 150px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow:0px 0px 0px 8px rgb(32, 32, 32);;

}

